<div class="container-fluid comment-form">
  <%= form_for @comment, remote: true do |f| %>
    
    <div class="input-group">
      
      <%= f.text_field 'text', {class: "form-control comment-text-box"}%>
      <div class="input-group-btn">
        
        <%= f.submit button_text, class: "form-control btn btn-primary comment-btn"%>
        <% if parent_id %>
          <button class= "btn btn-default cancel-btn">x</button>
        <% end %>
        
      </div>
    </div><!-- /input-group -->
   
    
    <%= fields_for @comment do |c| %>
      <%= c.hidden_field :user_id, value: @user_id %>
      <%= c.hidden_field :spec_id, value: @spec_id %>
      <%= c.hidden_field :parent_id, value: parent_id %>
    <% end %>
    
  
  <% end %>
  
  
</div>