<div class="comment-form card-action">
  <%= form_for @comment, remote: true, html: {class: "marginless"} do |f| %>
    
    <div class="marginless row">
      <div class="col s11">
        <%= f.text_field 'text', {class: "marginless comment-text-box"}%>
      </div>
      <div class="col s1">
        
        <%= f.button class: "form-control btn btn-primary comment-btn" do %>
          <i class="material-icons"><%=button_text%></i>
        <% end %>
        
      </div>
    </div><!-- /input-group -->
   
    
    <%= fields_for @comment do |c| %>
      <%= c.hidden_field :user_id, value: @user_id %>
      <%= c.hidden_field :spec_id, value: @spec_id %>
      <%= c.hidden_field :parent_id, value: parent_id %>
    <% end %>
    
  
  <% end %>
  
  
</div>