<% if comment["resolved"] == false %>
<div class="panel panel-primary comment" id="comment<%= comment["id"] %>">
<% else %>
<div class="panel panel-default comment" id="comment<%= comment["id"] %>">
<% end %>
    <div class="panel-heading">
        <%= comment["text"] %>
        <div class="text-right small">
            <span class="comment-user"><%= User.find(comment["user_id"]).email %></span>
            <span><%=comment["created_at"].in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%S%p") %></span>
        </div> 
        
    </div>
    <%= render partial: 'children', object: comment["children"] %>
    <div class="panel-footer">
        
        <span class="pull-right comment-btns">
            <% if comment["resolved"] == true %>
                <span class="label label-success">resolved by
                    <span class="comment-user"><%= User.find(comment["updated_by_id"]).email %></span>
                    <span><%=comment["created_at"].in_time_zone("Eastern Time (US & Canada)").strftime("%b %d, %Y %I:%S%p") %></span>
                </span>
            <% else %>
                
                <%= link_to 'reply', 
                        new_comment_path(:parent_id => comment["id"]), 
                        remote: true, 
                        class: "btn btn-default"%>
                <%= link_to 'resolve', 
                        comment_resolve_path(:comment_id => comment["id"]), 
                        method: :put,
                        remote: true, 
                        class: "btn btn-default"%>
            <% end %>
        </span>
        <div class='clearfix'></div>
    </div>
</div>