<p id="notice"><%= notice %></p>

<h1>Listing Tag Type Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tag_type_groups.each do |tag_type_group| %>
      <tr>
        <td><%= link_to 'Show', tag_type_group %></td>
        <td><%= link_to 'Edit', edit_tag_type_group_path(tag_type_group) %></td>
        <td><%= link_to 'Destroy', tag_type_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag type group', new_tag_type_group_path %>
