<div class="modal-dialog modal-sm">
 <%= form_for @user, remote: true do |f| %>
  <div class="modal-content">
    
   
      <div class="modal-body">
        
        <% if @user.errors.any? %>
          <div class="alert alert-danger form-group" role="alert">
            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          
          <div>
            <%= @user.email %>
          </div>
          <div>
            <%= f.collection_radio_buttons :role_id, 
                                        @roles, 
                                        :id, 
                                        :name,
                                        {},
                                        {selected: @user.role_id}%>
          </div>
        </div>
        
      </div>
      
      
    
  </div>
  <div class="modal-footer">
    <%= f.submit class: "btn" %>
    <%= link_to "cancel", "#", class: "btn-flat modal-close" %>
  </div>
  <% end %>
</div>