<div class="modal-dialog modal-sm">
  <%= form_tag tags_path, method: :post, class: "form-inline", remote: true  do |f| %>
    <div class="modal-content">
  
      
        <div class="modal-body">
          <ul class="errors"></ul>
  
          <div class="form-group">
            
            <% @tag_types.each do |tag_type| %>
              <div class="chip tag tag-checkbox" style="background-color: <%= tag_type.color %>">
         
                  <%= check_box_tag 'tag_types[]', tag_type.id, @spec_tags && @spec_tags.include?(tag_type.id), {class:"checkbox", id: "add_tag_#{tag_type.id}"} %>
                  <%= label_tag "add_tag_#{tag_type.id}", tag_type.name %>
              </div>
              
            <% end %>
            
            <%= hidden_field_tag :spec_id, @spec.id %>
          </div>
         
        </div>
        
        
    </div>
    <div class="modal-footer">
      <%= submit_tag 'tag spec', class: "btn btn-submit" %>
      <%= link_to 'cancel', "#", class: "btn-flat modal-close"%>
    </div>
  <% end %>
</div>