<div>
    
        <%= link_to spec_bookmark_path(:spec_id => spec[:id]), 
                    method: :post,
                    remote:true, 
                    :data => {:tooltip => 'bookmark', :position => 'bottom', :delay => '20'},
                    class: "tooltipped btn btn-square" do %>
            <i class="material-icons">bookmark</i>
        <% end %>
        <%= link_to new_tag_path(:id => spec[:id]), 
                    remote:true, 
                    :data => {:tooltip => 'add tag', :position => 'bottom', :delay => '20'},
                    class: "tooltipped btn btn-square" do %>
            <i class="material-icons">label</i>       
        <% end %>
        <%= link_to new_ticket_path(:id => spec[:id]), 
                    remote: true,
                    :data => {:tooltip => 'add ticket', :position => 'bottom', :delay => '20'},
                    class: "tooltipped btn btn-square" do %>
            <i class="material-icons">insert_link</i>
        <% end %>
    
        <%= link_to new_spec_path(:id => spec[:id]), 
                    remote: true,
                    :data => {:tooltip => 'add parent', :position => 'bottom', :delay => '20'},
                    class: "tooltipped btn btn-square" do %>
            p
        <% end %>
        <%= link_to mass_add_view_specs_path(:id =>spec[:id]),
                    remote:true,
                    :data => {:tooltip => 'add children', :position => 'bottom', :delay => '20'},
                    class: "tooltipped btn btn-square" do %>
            c
        <% end %>

        <%= link_to edit_spec_path(:id => spec[:id]), 
                    remote:true, 
                    class: "btn btn-square tooltipped",
                    :data => {:tooltip => 'edit', :position => 'bottom', :delay => '20'} do %>
            <i class="material-icons">edit</i>
        <% end %>
                    
        <% if spec[:can_indent] %>
            <%= link_to spec_indent_url(  :spec_id =>spec[:id]),
                        method: :post,
                        remote:true,
                        :data => {:tooltip => 'indent', :position => 'bottom', :delay => '20'},
                        class: "indent_spec btn btn-square tooltipped" do %>
                <i class="material-icons">format_indent_increase</i>
            <% end %>
        <% end %>
        <% if !(spec[:is_root]==true) %>
            <%= link_to spec_dedent_url(  :spec_id => spec[:id]),
                    method: :post,
                    remote:true,
                    :data => {:tooltip => 'dedent', :position => 'bottom', :delay => '20'},
                    class: "indent_spec btn btn-square tooltipped" do %>
                <i class="material-icons">format_indent_decrease</i>
            <% end %>
        <% end %>
        
        <%= link_to spec_delete_path(:spec_id => spec[:id]),
                    class: "delete_spec btn btn-square tooltipped",
                    :data => {:tooltip => 'delete', :position => 'bottom', :delay => '20'},
                    :remote => true do %>
            <i class="material-icons">delete</i>
        <% end %>
</div>

