

<!-- Dropdown Structure -->
<ul id="dropdownMenu1" class="dropdown-content">
      <% if current_user.admin? %>
       
        <li><%= link_to users_path, remote: true do %>
            manage users <span class="requests-badge label label-danger label-as-badge"><%= @request_count %></span>
            <% end %>
        </li>
        <li><%= link_to "add project", 
                    new_project_path,
                    remote: true %></li>
        <li class="divider"></li>
    <% end %>
  
  <li><%= link_to('log out', destroy_user_session_path, :method => :delete) %></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <div class="brand-logo">jessdocs 2.0</div>
        <ul class="right">
            <% if user_signed_in? %>
                <li>
                <a class="dropdown-button" href="#!" data-activates="dropdownMenu1">
                    <%= current_user.email %><i class="material-icons right">arrow_drop_down</i>
                </a>
                </li>
            <% end %>
        
        </ul>
    </div>  
</nav>  
        
<div class="row">
    
    <%= form_tag filter_tag_specs_path, method: :get, class: "form-inline", id: 'tag-form', remote: true do %>
        
        <div class="col s10">
            <div class="chip tag ticket tag-checkbox">
                
                <%= check_box_tag 'ticketed', 'true', @ticketed, {onclick: 'filter()'} %>
                <%= label_tag 'ticketed', 'ticketed' %>
            </div>  
            
            <span class="filterspecs navbar-btn">
                
                <%= render partial: "tag_types/filter", object: @tag_types, as: :tag_types %>
            </span>
            
        </div>
        <div class="project-select-div input-field right col s2">
            
            
            <%= collection_select(  :projects, 
                                    :project_id, 
                                    @projects, 
                                    :id, 
                                    :name,
                                    {:selected => @selected_project_id},
                                    {class: "",
                                    id: "project-select",
                                    onchange: 'filter()'}) %>
        </div>
    <% end %>
</div>
   