<%= form_tag('/specs/mass_add', method:'post', remote:true, class: "spec-form", id: "mass-form", novalidate: "") do |f| %>
<div class="modal-content">
  <div class="modal-header">
   
    <h5 class="modal-title">mass-add specs</h5>
    
  </div>
  
    <div class="modal-body">
      <ul class="errors"></ul>
      
  
      
      <div class="row">
        
        <div class="col s8">
          <p class="flow-text">
          Enter multiple specs at a time. Each line denotes a new spec. Nest specs 
            either by using tabs or -'s.
          </p>
          
        </div>
        
        <div class="card deep-purple col s4">
          <div class="card-content white-text">
            <span class="card-title">example</span>
            <p>
              someone really cool<br />
              -should be jess <br />
              --level 3 <br />
              back to level 1
            </p>
          </div>
        </div>
    </div>
    <div class="row">
        
      <% if @parent.nil? %>
        <div class="col s8">
          <%= label_tag 'modal-project-select', 'create in project:' %>
           <%= collection_select( :projects, 
                                  :project_id, 
                                  @projects, 
                                  :id, 
                                  :name, 
                                  {:selected => 1},
                                  { class: "project-select",
                                    id: "modal-project-select" }) %>
          
        </div>
      <% else %>
        <div>
          <%= render partial: "data", object: @print_specs_hash, as: :spec %>
        </div>
      <% end %>
        
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <%= text_area_tag :text, 
                            '', 
                            rows: 15, 
                            class:"materialize-textarea mass-add-text validate", 
                            id: "mass-text-area",
                            required: "",
                            placeholder: "your specs..." %>
          <label for="mass-text-area"></label>
        </div>
        
        
        <% if !@parent.nil? %>
          
          <%= fields_for :projects, @spec do |p| %>
            <%= p.hidden_field :parent_id, value: @parent.id %>
            <%= p.hidden_field :project_id, value: @parent.project_id %>
          <% end %>
        <% end %>
      </div>
      
    </div>
    
    
  
</div>
<div class="modal-footer">
   <%= submit_tag 'submit', class: "btn btn-submit", id: 'mass-submit' %>
  <a href="#" class="modal-close btn-flat" data-dismiss="modal">cancel</a>
</div>
<% end %>