<div class="spec section scrollspy"  id="<%=spec[:id]%>">
   
   
    <div class="spec-data">
        
        <span class="side-buttons btn-group btn-group-xs">
            
            <% if @can_edit %>
            
                <a class="btn-flat btn-square edit-button active-btn side-button">
                    <i class="material-icons tiny-icon">mode_edit</i>
                </a>
            <% end %>
            <% css_class = (@comment_array && @comment_array.include?(spec[:id]) ) ? "hidden" : "active-btn" %>
            <%= link_to  '', 
                        comments_path(:spec_id => spec[:id]),
                        remote: true,
                        class: "btn-flat btn-square comment-button side-button #{css_class}" do %>
                <i class="material-icons">comment</i>
            <% end %>
            
            
        </span>
            <% css_class = (@comment_array && @comment_array.include?(spec[:id]) )  ? "" : "hide" %>
            <%= link_to comments_path(:spec_id => spec[:id]),
                        remote: true,
                        class: "btn-floating yellow darken-1 comment-button side-button label-button #{css_class}" do %>
                <i class="material-icons">comment</i>
            <% end %>
            
            
        
        <%= render partial: "data", object: spec, as: :spec %>
    </div>
    <div class="spec-buttons editable">
        <%= render partial: "buttons", object: spec, as: :spec %>
    </div>
</div>
