<div class="center valign-wrapper spinner">
        <div class="center-spinner preloader-wrapper big active valign">
            <div class="spinner-layer">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
    </div>

<% if @can_view %>
    <header>
        <%= render partial: "header" %>
    </header>
    
    <main>
    <ul id="slide-out" class="side-nav fixed deep-purple lighten-4">
      <li><sidebar></sidebar></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <p class="notice hide"><%= notice %></p>
    <p class="alert hide"><%= alert %></p>
   
    
    <div class="row main">
        
        
        <div class="full-spec-list col s8 m10">
            <% if @specs.blank? || (!@filtered_spec_ids.nil? && @filtered_spec_ids.count == 0) %>
                <p>No results</p>
            <% else %>
                <specs></specs>
            <% end %>
        </div>
        
        <div class="col s4 m2 sidebar">
           
            <div class="bookmarks">
                <%= render partial: "bookmarks", object: @bookmarks, as: :bookmarks %>
            </div>
        </div>
    
        
        <%= render partial: "sidebarbtns" %>
       
        
    
            
        
        <div id="spec-modal" class="modal modal-fixed-footer fade"></div>
        <div id="small-modal" class="modal-thin modal-short modal modal-fixed-footer fade"></div>
        <div id="short-modal" class="modal-short modal modal-fixed-footer fade"></div>
    </div>
    </main>

    <footer class="page-footer deep-purple darken-2">
        <div class="container">
            
        </div>
    </footer>

<% end %>