<div id="modal" class="modal-thin modal modal-fixed-footer fade">
  <%= form_for @tag_type, remote: true do |f| %>
    <div class="modal-content">
      
      
        <div class="modal-body">
          
          <% if @tag_type.errors.any? %>
            <div class="alert alert-danger form-group" role="alert">
              <ul>
              <% @tag_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
  
          <div>
            <div>
              <%= label_tag 'tag_color', 'tag color' %>
              <%= color_field(:tag_type, :color, options={class: "form-control", id: 'tag_color'})  %>
            </div>
            <div class="input-field">
              <%= label_tag 'tag_name', 'tag name' %>
              <%= f.text_field 'name', {class: "form-control", id: 'tag_name'}%>
            </div>
            
          </div>
          
        </div>
        
        
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn" %>
      <%= link_to "cancel", "#", class: "btn-flat modal-close"%>
      
    </div>
  <% end %>
</div>