  <%= form_for @tag_type, remote: true, :html=>{novalidate: ""} do |f| %>
    <div class="modal-content">
      
      
        <div class="modal-body">
          
          <% if @tag_type.errors.any? %>
            <div class="alert card-panel red white-text">
              <div class="row valign-wrapper marginless">
                <div class="col s1 valign">
                <i class="material-icons">error</i>
                </div>
                <div class="col s11 valign">
                <ul>
                <% @tag_type.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
                </div>
              </div>
            </div>
          <% end %>
          <div class="input-field">
            <%= f.collection_select :tag_type_group_id, 
                                    @tag_type_groups, 
                                    :id, 
                                    :name, 
                                    {include_blank: 'none'},
                                    {onchange: "changeColor(#{TagTypeGroup.all.pluck(:color)}, $(this).val() )"} %>
            <%= f.label :tag_type_group_id, 'tag type group' %>                   
          </div>
          <div class="row marginless valign-wrapper">
            <div class="col s2">
              <%= f.label :color, '&nbsp;'.html_safe %>
              <%= color_field(:tag_type, :color, options={class: "btn-square"})  %>
            </div>
            <div class="input-field col s10">
              <%= f.text_field 'name', {class: "validate", placeholder: 'tag name', required: ""}%>
              <%= f.label :name, '&nbsp;'.html_safe %>
            </div>
            
          </div>
          
        </div>
        
        
    </div>
    <div class="modal-footer">
      <%= f.submit class: "btn" %>
      <%= link_to "cancel", "#!", class: "modal-action btn-flat modal-close"%>
      
    </div>
  <% end %>