<div class="modal-content">

    <h4>tags</h4>
    <div>
        
        <% @tag_types.each do |tag_type_group| %>
            <% unless tag_type_group.first.nil? %>
                <h5>
                    <%= tag_type_group.first.name %>
                    <span class="btn-group btn-group-xs" role="group">
                        <%= link_to edit_tag_type_group_path(tag_type_group.first),
                                    remote: true,
                                    class: "btn-flat btn-square" do %>
                            <i class="material-icons">edit</i>
                        <% end %>
                        <%= link_to tag_type_group.first, 
                                    method: :delete,
                                    class: "delete_tag_type_group btn-flat btn-square",
                                    :remote => true do %>
                            <i class="material-icons">delete</i>
                        <% end %>
                    </span>
                </h5>
            <% end %>
            <% grouped_tag_type = tag_type_group.last %>
            <% grouped_tag_type.each do |tag_type| %>
                <%= render partial: "tag_types/show", object: tag_type, as: :tag_type, locals: {archived: false} %>  
            <% end %>   
        <% end %>
        
        <% @tagless_groups.each do |group| %>
            <h5>
                <%= group.name %>
                <span class="btn-group btn-group-xs" role="group">
                    <%= link_to edit_tag_type_group_path(group),
                                remote: true,
                                class: "btn-flat btn-square" do %>
                        <i class="material-icons">edit</i>
                    <% end %>
                    <%= link_to group, 
                                method: :delete,
                                class: "delete_tag_type_group btn-flat btn-square",
                                :remote => true do %>
                        <i class="material-icons">delete</i>
                    <% end %>
                </span>
            </h5>
        <% end %>
        <h5>archived</h5>
        <%= render partial: "tag_types/show", collection: @deleted_tag_types, as: :tag_type, locals: {archived: true} %>
    </div>
</div>
<div class="modal-footer">
    <%= link_to new_tag_type_path,
                remote:true,
                class: "btn" do %>
        + tag type
    <% end %>
    <%= link_to new_tag_type_group_path,
                remote:true,
                class: "btn" do %>
        + tag group
    <% end %>
    <%= link_to "cancel", "#", class: "btn-flat modal-close"%>
</div>