<div class="modal-content">

    <h4>tags</h4>
    <div>
        
        <% @tag_types.each do |tag_type_group| %>
            <% unless tag_type_group.first.nil? %>
                <h5><%= tag_type_group.first.name %></h5>
            <% end %>
            <% grouped_tag_type = tag_type_group.last %>
            <% grouped_tag_type.each do |tag_type| %>
                <%= render partial: "show", object: tag_type, as: :tag_type %>  
            <% end %>   
        <% end %>
    </div>
</div>
<div class="modal-footer">
    <%= link_to new_tag_type_path,
                remote:true,
                class: "btn" do %>
        + tag type
    <% end %>
    <%= link_to new_tag_type_group_path,
                remote:true,
                class: "btn" do %>
        + tag group
    <% end %>
    <%= link_to "cancel", "#", class: "btn-flat modal-close"%>
</div>