<div class="tag-type-line">
    
        <div   class="chip tag" 
                style="background-color: <%= tag_type.color %>">
            <%= tag_type.name %>
        </div>
        <% if !archived %>        
        <span class="btn-group btn-group-xs" role="group">
            <%= link_to edit_tag_type_path(tag_type),
                        remote: true,
                        class: "btn-flat btn-square" do %>
                <i class="material-icons">edit</i>
            <% end %>
            <%= link_to tag_type, 
                        method: :delete,
                        class: "delete_tag_type btn-flat btn-square",
                        :remote => true do %>
                <i class="material-icons">delete</i>
            <% end %>
        </span>
        <% else %>
            
            <%= link_to tag_type_recover_path(:tag_type_id => tag_type.id),
                        method: :post,
                        remote: true,
                        class: "btn-flat btn-square" do %>
                <i class="material-icons">restore</i>
            <% end %>
            <% if tag_type.deleted_by_id %>
                <% deleted_by = tag_type.deleted_by %>
                <span>deleted by <%= deleted_by.email %></span>
            <% end %>
        <% end %>
</div>